:root {
    --project-card-border: 1px solid black;
    --project-card-width: 35%;
    --project-card-margin: 1dvw;
}

* {
    box-sizing: border-box;
}

#project-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

project-card {
    border: var(--project-card-border);
    width: var(--project-card-width);
    display: inline-block;
    margin: var(--project-card-width);
}