:host {
  --image-width: 95%;
  --link-color: rgb(0, 0, 238);
  --section-padding: 0.5dvw;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: var(--section-padding);
}

img {
  width: var(--image-width);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-color);
}
